/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 | License: none (public domain) */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,ul {
  list-style: none;
}
blockquote,q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  vertical-align: bottom;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}
input:focus {
  outline: none;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
@font-face {
  font-family: 'CircularStd-Book';
  src: url('../../fonts/CircularStd-Book.eot');
  src: url('../../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'), url('../../fonts/CircularStd-Book.woff2') format('woff2'), url('../../fonts/CircularStd-Book.woff') format('woff'), url('../../fonts/CircularStd-Book.ttf') format('ttf'), url('../../fonts/CircularStd-Book.svg#CircularStd-Book') format('svg');
}
@font-face {
  font-family: 'CircularStd-Medium';
  src: url('../../fonts/CircularStd-Medium.eot');
  src: url('../../fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'), url('../../fonts/CircularStd-Medium.woff2') format('woff2'), url('../../fonts/CircularStd-Medium.woff') format('woff'), url('../../fonts/CircularStd-Medium.ttf') format('ttf'), url('../../fonts/CircularStd-Medium.svg#CircularStd-Medium') format('svg');
}
@font-face {
  font-family: 'CircularStd-Bold';
  src: url('../../fonts/CircularStd-Bold.eot');
  src: url('../../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/CircularStd-Bold.woff2') format('woff2'), url('../../fonts/CircularStd-Bold.woff') format('woff'), url('../../fonts/CircularStd-Bold.ttf') format('ttf'), url('../../fonts/CircularStd-Bold.svg#CircularStd-Bold') format('svg');
}
html {
  height: 100%;
}
body {
  font-size: 16px;
  font-family: 'CircularStd-Book', sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  color:#001D38;
}
a {
  text-decoration: none;
  color: inherit;
}
/* VARIABLES & MIXINS */
/*                 */
header {
  height: 58px;
  position: relative;
}
#logo {
  position: absolute;
  width: 164px;
  height: 40px;
  background: url(../../img/new/qr-logo.svg) no-repeat;
  background-size: 100%;
  left: 6%;
  top: 25%;
}
#call-now {
  width: 126px;
  height: 34px;
  position: absolute;
  right: 10px;
  top: 8px;
  border: 3px solid #46DEB0;
  border-radius: 5px;
  color: #46DEB0;
  font-family: 'CircularStd-Medium', sans-serif;
  line-height: 34px;
}
#call-now a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
form input {
  height: 57px;
  line-height: 57px;
  font-size: 42px;
  color: #065466;
  text-align: center;
  width: 44.335%;
  -webkit-appearance: none;
  border-bottom: 4px solid #065466;
}
form input.error {
  border-bottom: 4px solid #ff0000;
  color: #ff0000;
}
form input.open {

}
form input::placeholder {
  font-weight: 300;
  color: #E8E8E8;
}
form .results {
  display: none;
  background: #fff;
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 0px 0px 8px 8px;
  font-size: 18px;
  border: 1px solid #a8a8a8;
}
form .results ul li {
  color: #091E38;
  font-size: 18px;
  line-height: 35px;
  text-align: left;
  padding-left: 12px;
}
form .results ul li:nth-of-type(odd) {
  background: #F7F7F7;
  border-top: 1px solid rgba(195, 195, 195, 0.4);
  border-bottom: 1px solid rgba(195, 195, 195, 0.4);
}
form .results ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.btn {
  width: 66px;
  height: 66px;
  background: #46DEB0;
  border-radius: 100px;
  font-size: 20px;
  line-height: 66px;
  letter-spacing: 0.39px;
  font-family: 'CircularStd-Bold', sans-serif;
  font-weight: 700;
  color: #fff;
  margin: 28px auto 0;
  position: relative;
}
.btn.open {
  
}
.btn.click {
  background-image: linear-gradient(-180deg, #ffc68a 0%, #ce550f 70%);
}
.inline {
  display: inline-block;
  margin: 0 0 0 11px;
  top: 9px;
}
#wrapper {
  min-height: 527px;
  position: relative;
  overflow: hidden;
  background-size: cover;
}
.success-icon {
  display: inline-block;
  background: url(../../img/mobile/2/sprite-sheet2.svg) no-repeat;
  background-position: -214px -41px;
  width: 15px;
  height: 17px;
}
#slider {
  margin-top: -1px;
  padding: 1px;
  width: 600%;
  position: relative;
  z-index: 5;
}
#slider .slide {
  width: 16.666666666666667%;
  float: left;
  text-align: center;
  display: none;
}
#slider .slide.first {
  display: block;
}
#slider .slide .form-box {
  width: 90%;
  margin: 33px 2.5% 0;
  border-radius: 8px;
  padding: 33px 2.5%;
  position: relative;
  font-family: 'CircularStd-Bold';
  font-size: 26px;
  color: #065466;
}
#slider .slide .form-box .error-msg {
  background: #FFCECE;
  border-radius: 4px;
  line-height: 35px;
  color: #E65D60;
  position: absolute;
  top: 14px;
  transform: translateX(-50%);
  left: 50%;
  width: 80%;
  display: none;
}
#slider .slide .form-box .error-msg .icon {
  background: url(../../img/mobile/2/sprite-sheet2.svg) no-repeat;
  background-position: -247px -41px;
  width: 16px;
  height: 16px;
  display: inline-block;
  top: 2px;
  margin-right: 2px;
  position: relative;
}
#slider .slide .form-box .question {
  font-size: 26px;
  margin-bottom: 13px;
}
#truck {
  width: 110%;
  left: -5%;
  position: relative;
  margin-top: 15px;
  height: 210px;
}
#truck img {
  opacity: 0;
  position: relative;
  display: block;
  margin:-50% auto 0;
}
#slider .slide input {
  text-transform: capitalize;
}
#slider #slide-1 h3 {
  font-size: 26px;
  font-family: 'CircularStd-Book', sans-serif;
  font-style: italic;
  color: rgba(6,83,102,0.50);
  line-height: 31px;
  margin: 37px auto 0;
  width: 302px;
}
#slider #slide-1 p {
  font-size: 24px;
  color: rgba(72, 72, 72, 0.5);
  margin-top: 13px;
  color: #fff;
  font-style: italic;
}
#slider #slide-1 .form-box {
  padding: 33px 2.5% 52px;
}
#slider #slide-1 .form-box .error-msg {
  top: 23px;
  width: 92%;
}
#slider #slide-1 .form-box .zip-help-wrapper {
  text-align: left;
  margin-top: 8px;
  position: absolute;
  height: 35px;
  width: 100px;
  line-height: 35px;
}
#slider #slide-1 .form-box .zip-help-wrapper .map-pin {
  background: url(../../img/mobile/2/sprite-sheet2.svg) no-repeat;
  background-position: -281px -39px;
  padding-left: 16px;
  height: 14px;
  margin-left: 5px;
}
#slider #slide-1 .form-box .zip-help-wrapper a {
  text-align: left;
  font-size: 16px;
}
#info-bar {
  color: #065466;
  text-transform: capitalize;
  font-size: 18px;
  text-align: center;
  margin: 9px auto 0;
  height: 45px;
}
#info-bar > div {
  display: inline-block;
  line-height: 45px;
  vertical-align: middle;
}
#info-bar .slash {
  width: 1px;
  height: 80%;
  background: #065466;
  transform: rotate(29deg);
  margin: 0 11px 0 18px;
}

#slider #slide-2 .form-box form .results {
  width: 62.9696629213483%;
  position: absolute;
  left: 17.4%;
  top: 49%;
  max-height: 110px;
}
#slider #slide-2 .form-box .btn {
}
#slider #slide-3 h4 {
  padding-left: 3%;
  font-size: 27px;
  color: #fff;
  font-family: 'CircularStd-Medium';
}
#slider #slide-4 #progress-bar {
  height: 50px;
  margin: 24px auto 14px;
  color: #122e4e;
  font-style: italic;
  font-size: 16px;
  line-height: 50px;
}
#slider #slide-4 #progress-bar > div {
  display: inline-block;
}
#slider #slide-4 #progress-bar .movers-found {
  width: 51.7333333333333%;
  background: url(../../img/status-bg.svg) no-repeat;
  background-position: 0 0;
  background-size: 100%;
  background-position: 0 54%;
}
#slider #slide-4 #progress-bar .movers-found .checkmark {
  width: 13px;
  height: 13px;
  background: url(../../img/mobile/2/sprite-sheet2.svg) no-repeat;
  background-position: -215px -95px;
  display: inline-block;
  margin-left: 5px;
}
#slider #slide-4 #progress-bar .view-quote {
  background: url(../../img/status-bg2.svg) no-repeat;
  background-size: 100%;
  background-position: 0 56%;
  width: 47.7333333333333%;
  margin-left: -3.33333333%;
  color: rgba(13, 32, 54, 0.3);
}
#slider #slide-4 h4 {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 18px;
  width: 239px;
  margin: 0 auto;
  line-height: 24px;
}
#slider #slide-4 #form-slider {
  width: 300%;
}
#slider #slide-4 #form-slider .form-box {
  width: 28.5%;
  float: left;
  margin: 24px 0.8% 0;
  padding: 25px 1.6% 31px;
}
#email-form .btn{
    width: 28%;
    border-radius: 0px 108px 108px 0px;
}
#to-phone{
    width: 46%; 
    border-radius: 108px;
}
#slider #slide-4 #form-slider form#email-form input {
  width: 72%;
  margin: 0 auto;
  text-transform: none;
}
#slider #slide-4 #form-slider form#name-form input {
  width: 46%;
  border-radius: 108px;
}
#slider #slide-4 #form-slider form#name-form input:first-of-type {
  margin-right: 5%;
}
#slider #slide-4 #form-slider form#phone-form input {
  width: 80%;
  font-size: 18px;
  border-radius: 108px;
}
#slider #slide-4 #form-slider form#phone-form .btn {
  font-size: 18px;
  line-height: 35px;
  padding-top: 11px;
  letter-spacing: 1.1px;
  height: 46px;
  width: 51%;
  border-radius: 108px;
}
#slider #disclaimer {
  display: none;
  opacity: 0.69;
  font-family: 'Open Sans';
  font-style: italic;
  font-size: 11px;
  line-height: 15px;
  color: #fff;
  letter-spacing: 0;
  width: 90%;
  margin: 15px auto 0px;
  text-align: left;
  padding: 5% 5% 5%;
  background:#000;
}
#slider #slide-5 h3 {
  font-size: 27px;
  font-family: 'CircularStd-Medium', sans-serif;
  color: #fff;
  margin-top: 25px;
}
#slider #slide-5 h4 {
  color: #fff;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 13px;
  line-height: 23px;
}
#slider #slide-5 .form-box {
  margin: 26px auto;
}
#slider #slide-5 .form-box form input {
  width: 90%;
  border-radius: 108px;
}
#slider #slide-5 .form-box form .btn {
  width: 257px;
}
#slider #slide-5 .form-box form .or {
  margin: 17px 0 -11px;
  font-size: 18px;
  line-height: 23px;
}
#slider #slide-5 .form-box .subtext {
  font-size: 11px;
  line-height: 15px;
  font-style: italic;
  width: 72%;
  margin: 24px auto 0;
}
#slider #slide-6 h4 {
  font-family: 'CircularStd-Bold', sans-serif;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 36px;
}
#slider #slide-6 h3 {
  color: #fff;
  line-height: 51px;
  font-size: 37px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
#slider #slide-6 .form-box {
  margin: 37px auto 0;
}
#slider #slide-6 .form-box form input {
  width: 93px;
  border-radius: 108px;
}
#slider #slide-6 .form-box form .btn {
  width: 257px;
}
#slider #slide-6 .form-box .subtext {
  font-family: 'Open Sans';
  font-style: italic;
  font-size: 14px;
  line-height: 19px;
  width: 92%;
  margin: 22px auto 0;
}
#slider #slide-7 {
  font-family: 'Open Sans';
}
#slider #slide-7 h3 {
  font-size: 27px;
  color: #fff;
  line-height: 34px;
  margin-top: 37px;
  font-family: 'CircularStd-Medium';
}
#slider #slide-7 h4 {
  color: #fff;
  font-size: 17px;
  line-height: 23px;
  margin-top: 13px;
  width: 93.6%;
  margin: 13px auto 17px;
}
#slider #slide-7 #quote {
  font-size: 45px;
  color: #fff;
  line-height: 61px;
}
#slider #slide-7 .imover {
  background: rgba(15, 33, 53, 0.8);
  padding: 43px 5%;
  margin-top: 34px;
}
#slider #slide-7 .imover .content {
  text-align: left;
}
#slider #slide-7 .imover .content .icon {
  background: url(../../img/mobile/2/sprite-sheet2.svg) no-repeat;
  background-position: -309px -39px;
  float: left;
  width: 91px;
  height: 94px;
  margin-top: 16px;
}
#slider #slide-7 .imover .content .right {
  float: left;
  margin-left: 2.8%;
  width: calc(100% - 104px);
}
#slider #slide-7 .imover .content .right h6 {
  font-size: 26px;
  line-height: 30px;
  color: #fff;
}
#slider #slide-7 .imover .content .right p {
  line-height: 22px;
  opacity: .7;
  color: #d2d2d2;
  margin-top: 9px;
}
#slider #slide-7 .imover .btn {
  margin-top: 36px;
  width: 237px;
}
#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #065466;
  display: none;
  text-align: center;
  color: #fff;
  z-index: 10;
  top: 0;
}
#overlay .question {
  font-size: 23px;
  color: #fff;
}
#overlay #ziphelp {
  display: none;
}
#overlay #ziphelp h3 {
  font-size: 20px;
  margin-top: 95px;
  color: #000;
}
#overlay #ziphelp form {
  width: 304px;
  margin: 39px auto 0;
}
#overlay #ziphelp form input {
  text-align: left;
  width: 179px;
  padding-left: 26px;
  font-size: 20px;
  text-transform: capitalize;
}
#overlay #ziphelp form .btn {
  width: 95px;
  margin: 0 0 0 -4px !important;
}
#overlay form .results{
    width: 80%;
    margin: 0 auto;
}
#overlay #move-size {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  width: 100%;
}
#overlay #move-size #size-list {
  margin: 32px auto 0;
  width: 86%;
}
#overlay #move-size #size-list .size-btn {
  height: 59px;
  line-height: 59px;
  border-radius: 30px;
  background: #46DEB0;
  color: #065466;
  margin-bottom: 12px;
  font-size: 18px;
  letter-spacing: 1.8px;
  font-family: 'CircularStd-Bold', sans-serif;
}
#overlay #move-size #size-list .size-btn.selected {
  background: #ff976a;
}
#overlay #move-date {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
#overlay .close {
  width: 16px;
  height: 24px;
  position: absolute;
  top: 9px;
  right: 12px;
  background: url(../../img/mobile/2/sprite-sheet2.svg) no-repeat;
  background-position: -395px -113px;
}
#overlay .popup {
  display: none;
  width: 80%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  background: #fff;
  border:1px solid #000;
  border-radius: 10px;
  padding: 5%;
  color: #000;
  text-align: left;
  font-size: 14px;
  font-family: 'Open Sans';
  line-height: 18px;
  font-weight: 300;
  height: 50%;
  overflow: scroll;
}
.abs-reset {
  position: relative;
  height: auto;
  width: 100%;
}
.abs-reset > div {
  height: 100%;
}
footer {
  padding: 16px 21px 8px;
  position: relative;
  font-size: 16px;
  background: #F8F8F8;
  color: #CDCDCD;
  font-family: 'CircularStd-Medium';
}
#footer-links {
  text-align: center;
  padding-bottom: 2px;
}
#footer-links ul li {
  display: inline;
  margin-left: 5px;
}
#footer-bottom {
  height: 30px;
  position: relative;
}
#copyright {
  height: 30px;
  text-align: center;
  line-height: 35px;
}
#learn-more{
  margin-bottom: 11px;
  overflow: hidden;
}
#info{
  position:relative;
  z-index: 1;
  margin-top: -593px;
}
#call-out {
  background: #F8F8F8;
  width: 100%;
  height: 53px;
  position: relative;
  font-size: 16px;
  color: #CDCDCD;
  letter-spacing: -.06px;
  cursor: pointer;
  line-height: 53px;
  text-align: center;
}
#learn-more .centered {
  min-height: 0;
  width: 88%;
  margin: 0 auto;
}
/************  UI Datepicker  **************/
.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.ui-helper-clearfix:after {
  clear: both;
}
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  /* support: IE8 */
}
.ui-front {
  z-index: 100;
}
/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
  pointer-events: none;
}
/* Icons
----------------------------------*/
.ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.25em;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
}
.ui-widget-icon-block {
  left: 50%;
  margin-left: -8px;
  display: block;
}
/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-datepicker {
  width: 95%;
  display: none;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 12px;
  width: 1.8em;
  height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}
.ui-datepicker .ui-datepicker-next {
  right: 12px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 59%;
  margin-top: -8px;
  cursor: pointer;
  text-indent: -9999px;
  background: url(../../img/mobile/2/sprite-sheet2.svg) no-repeat;
}
.ui-datepicker .ui-datepicker-next span {
  left: 9%;
  background-position: -131px -41px;
}
.ui-datepicker .ui-datepicker-prev span {
  background-position: -157px -41px;
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
  font-family: 'CircularStd-Bold', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 0;
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 45%;
}
.ui-datepicker-year {
  display: none;
}
.ui-datepicker table {
  width: 100%;
  border-collapse: collapse;
}
.ui-datepicker th {
  padding: .2em .3em;
  text-align: center;
  border: 0;
  font-size: 16px;
  letter-spacing: 1.8px;
}
.ui-datepicker td {
  border: 1px solid #D8D8D8;
  text-align: center;
  width: 44px;
  height: 44px;
  line-height: 44px;
}
.ui-datepicker tr td:first-of-type {
  border-left: none;
}
.ui-datepicker tr td:last-of-type {
  border-right: none;
}
.ui-datepicker tr:last-of-type td {
  border-bottom: none;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  text-decoration: none;
  font-size: 14px;
}
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}
/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}
/* RTL support */
.ui-datepicker-rtl {
  direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}
/* Icons */
.ui-datepicker .ui-icon {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  left: .5em;
  top: .3em;
}
/* Component containers
----------------------------------*/
.ui-widget {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.ui-widget .ui-widget {
  font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.ui-widget.ui-widget-content {
  font-family: 'CircularStd-Medium', sans-serif;
  margin: 31px auto 0;
  color: #065466;
  overflow: hidden;
}
.ui-widget-content {
  background: #ffffff;
  font-size: 14px;
}
/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  font-weight: normal;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
  text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  font-weight: normal;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
  color: #2b2b2b;
  text-decoration: none;
}
.ui-visual-focus {
  box-shadow: 0 0 3px 1px #5e9ed6;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  background: #EE6F42;
  color: #fff;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
.ui-icon-background,
.ui-state-active .ui-icon-background {
  border: #003eff;
  background-color: #ffffff;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #ffffff;
  text-decoration: none;
}
/* Interaction Cues
----------------------------------*/
.ui-state-checked {
  border: 1px solid #dad55e;
  background: #fffa90;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #f1a899;
  background: #fddfdf;
  color: #5f3f3f;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #5f3f3f;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #5f3f3f;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: alpha(opacity=70);
  /* support: IE8 */
  font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: alpha(opacity=35);
  /* support: IE8 */
  background-image: none;
}
.ui-state-disabled .ui-icon {
  filter: alpha(opacity=35);
  /* support: IE8 - See #6059 */
}
/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  width: 32px;
  font-size: 12px;
  text-transform: uppercase;
  height: 16px;
}
/* positioning */
/* Misc visuals
----------------------------------*/
/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 3px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 3px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 3px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 3px;
}
/* Overlays */
.ui-widget-overlay {
  background: #aaaaaa;
  opacity: .3;
  filter: alpha(opacity=30);
  /* support: IE8 */
}
.ui-widget-shadow {
  -webkit-box-shadow: 0px 0px 5px #666666;
  box-shadow: 0px 0px 5px #666666;
}
/* LOADER */
#loader {
  position: relative;
  top: 50%;
  width: 95%;
  height: 92px;
  transform:translateY(-50%);
  display: none;
  margin:0 auto;
}
#loader-holder {
  background:url('../../img/mobile/loader-bg.png') no-repeat;
  height: 63px;
  background-size: 100%;
  overflow: hidden;
  position: relative;
}
#bar {
  background: url('../../img/mobile/loader-bar.png') no-repeat;
  height: 77px;
  top: -8px;
  position: absolute;
  width: 104%;
  left: -5px;
  background-size: 100%;
  clip: rect(0px,0px,77px,0px);
}
#loader h4{
  font-family: 'CircularStd-Bold';
  font-size: 21px;
  color: #FFFFFF;
  margin-top: 9px;
}
@media screen and (max-width: 320px) {
  #logo {
    left: -2%;
  }
  #call-now {
    width: 34%;
  }
  #slider .slide .form-box .question {
    font-size: 21px;
  }
  #expander .maintainSize .disclaimer {
    width: 90%;
  }
  #slider #slide-7 .imover .content .right h6 {
    font-size: 21px;
  }
  #slider #slide-7 #quote {
    font-size: 40px;
  }
}
