
/*====  Fonts CSS  ===================================*/
@font-face {font-family: 'CircularStd-Book';src:url('../fonts/CircularStd-Book.woff') format('woff');font-weight: 300;font-style: normal;}
@font-face {font-family: 'CircularStd-Medium';src:url('../fonts/CircularStd-Medium.woff') format('woff');font-weight: 300;font-style: normal;}
@font-face {font-family: 'CircularStd-Bold';src:url('../fonts/CircularStd-Bold.woff') format('woff');font-weight: 300;font-style: normal;}
@font-face {font-family: 'CircularStd-Black';src:url('../fonts/CircularStd-Black.woff') format('woff');font-weight: 300;font-style: normal;}
* {box-sizing: border-box; outline:none;}
html, body {margin: 0px; padding: 0; height: 100%; min-height: 100%; font-family: 'CircularStd-Book';}
a {text-decoration:none; outline:none; cursor:pointer;}
h1, h2, h3, p, ul, li {margin:0; padding:0; line-height:normal; font-weight:normal;}
img {display:inline; outline:none;}
input {border:0; margin:0; padding:0;}
.full-width {float:left; width:100%;}
.pull-left {float:left;}
.pull-right {float:right;}
.center-text {text-align:center;}
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {content: '\0020';display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}
.row:after,
.clearfix:after {clear: both;}
.row,
.clearfix {zoom: 1;}
/* You can also use a <br class="clear" /> to clear columns */
.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}
.hidden{display: none!important;}
header .logo {float:left; padding:21px 0 0 39px;}
header .top-right {float:right;}
header .top-right span {display:block; font-family:'CircularStd-Book'; font-size: 25px; color: #065466; letter-spacing: 0.17px; margin:21px 61px 0 0;}
header .top-right a.call-now {float:right; width:127px; text-align:center; border: 3px solid #46DEB0; border-radius: 5px; -webkit-border-radius: 5px; font-family:'CircularStd-Medium'; font-size: 15px; color: #46DEB0; letter-spacing: 1.5px; margin:11px 20px 0 0; padding:6px 5px 3px; display:none;}

.move-note {float:left; width:820px; margin:85px calc((100% - 820px)/2) 0; background:#f7f7f7; font-family:'CircularStd-Bold'; font-size: 25px; color: #065466; letter-spacing: -0.14px; border-radius:100px; -webkit-border-radius:100px; text-align:center; padding:15px;}
.move-note-new {float:left; width:420px; margin:85px calc((100% - 880px)/2) 0; background:#f7f7f7; font-family:'CircularStd-Bold'; font-size: 25px; color: #065466; letter-spacing: -0.14px; border-radius:100px; -webkit-border-radius:100px; text-align:center; padding:15px;}
.move-note-inner {float:left; width: 300px; margin:85px calc((100% - 300px)/2) 0; background:#f7f7f7; font-family:'CircularStd-Bold'; font-size: 25px; color: #065466; letter-spacing: -0.14px; border-radius:100px; -webkit-border-radius:100px; text-align:center; padding:15px 50px; display: block; }
.rele-tive{position: relative;}

.block{float: left; position: relative;}
.error{color: red; display: block; position: absolute; margin: 0 auto; text-align: center; width: 100%;}
.name-number-container {float:left; width:1008px; min-height:95px; margin:30px calc((100% - 1008px)/2) 0; position:relative; display: block; overflow:hidden; }
.name-number-container-new{min-height: 165px;}
.name-number-container #name-container,
.name-number-container #number-container {float:left; width:100%; position:absolute; left:0; top:0;}
.name-number-container #number-container {display:none;}
.name-number-container h1 {float:left; text-align:center; font-family:'CircularStd-Bold'; font-size: 56px; color: #065466; letter-spacing: -0.26px; margin-right:10px; padding-top:9px;}
.name-number-container h1.digit-code {float:left; text-align:center; font-family:'CircularStd-Bold'; font-size: 56px; color: #065466; letter-spacing: -0.26px; margin-right:10px; padding-top:9px;}
.name-number-container h1.for-thankU {float:none; text-align:center; font-family:'CircularStd-Bold'; font-size: 45px; color: #065466; letter-spacing: -0.26px; margin-right:10px; padding-top:9px;}
.name-number-container h1.for-thankU #quoteRange{color: #46DEB0;}
.name-number-container .sub-title{font-size: 26px;letter-spacing: -.15px;font-style: italic;margin: 0;padding: 0; display: block; text-align: center;}
.name-number-container input.name-number-field {width:240px; border-bottom: 4px solid rgba(70,222,175,0.15); padding:10px 10px 0; font-family:'CircularStd-Bold'; font-size: 55px; color: #46DEB0; letter-spacing: -1.01px;}
.name-number-container input.digit-code {width:120px; border-bottom: 4px solid rgba(70,222,175,0.15); padding:10px 10px 0; font-family:'CircularStd-Bold'; font-size: 55px; color: #46DEB0; letter-spacing: -1.01px;}
.name-number-container input.name-number-field.error-line{border-bottom: 4px solid red; }
.name-number-container input.name-number-field::-moz-placeholder {color:#E8E8E8;}
.name-number-container input.name-number-field:-ms-input-placeholder {color:#E8E8E8;}
.name-number-container input.name-number-field::-webkit-input-placeholder {color:#E8E8E8;}
.name-number-container .relative{position: relative;}

.name-number-container .btn-block{display: block; margin-left: 390px;}
.name-number-container .btn-block .btn-container{display: inline-block;}
.name-number-container .btn-block .btn-container button.submit-buttons {float:none; display:inline; padding: 0; margin: 0; line-height: 59px; width:200px; height:59px;  background: #46DEB0; border-radius: 100px; -webkit-border-radius: 100px; font-family:'CircularStd-Bold'; font-size: 16px; color: #FFFFFF; letter-spacing: 1.8px; text-indent:0; text-align:center;border: none;cursor: pointer; margin:25px 0;}
.name-number-container button.submit_btn {float:none; display:block; padding: 0;  line-height: 49px; width:170px; height:49px;  background: #46DEB0; border-radius: 100px; -webkit-border-radius: 100px; font-family:'CircularStd-Bold'; font-size: 14px; color: #FFFFFF; letter-spacing: 1.8px; text-indent:0; text-align:center;border: none;cursor: pointer; margin:20px 0 0 0;}
input[type="text"]::-moz-placeholder {font-size:35px;}
input[type="text"]:-ms-input-placeholder {font-size:35px;}
input[type="text"]::-webkit-input-placeholder {font-size:35px;}

.name-number-container button.submit-btn {display:inline-block; width:51px; height:51px; border-radius:100px; -webkit-border-radius:100px; text-indent:-9999px; background:url(../img/gree-arrow.png) no-repeat #46DEB0 center; margin:15px 0 0 25px;border:none;}
.name-number-container button.submit-btn {display:inline-block; padding: 0; margin:10px 0 0 0; line-height: 59px; width:220px; height:59px;  background: #46DEB0; border-radius: 100px; -webkit-border-radius: 100px; font-family:'CircularStd-Bold'; font-size: 18px; color: #FFFFFF; letter-spacing: 1.8px; margin:0; text-indent:0; text-align:center;border: none;}
.name-number-container #number-container h1 {padding-left:25px !important;}
.name-number-container #number-container .error{top:-2px;}
.name-number-container #number-container input.name-number-field {width:400px !important;}

#moving-details {float:left; width:550px; margin:32px calc((100% - 550px)/2) 0; border:4px solid #145565; border-radius:4px; -webkit-border-radius:4px; padding:18px 22px 15px; color: #065466;}
#moving-details .row {height: 46px;}

#moving-details .row a.edit {float:right; font-family:'CircularStd-Medium'; font-size: 18px; color: #F37037; text-decoration: underline; padding-top:2px; margin:10px 0;}
#moving-details .row a.update {float:right; background: #F37037; width:90px; text-align:center; font-family:'CircularStd-Medium'; font-size:16px; color:#fff; text-decoration:none; letter-spacing:1px; border-radius:5px; -webkit-border-radius:5px; padding:10px 0 0; height:34px; margin-top:4px;}
#moving-details .row img {vertical-align:middle; margin:0 5px; display:inline;}
#moving-details .row span {padding:10px 0; font-family: 'CircularStd-Medium'; font-size:20px;}
#moving-details .row section span.place {float:left; width:89%; padding:10px 0; font-family:'CircularStd-Book'; font-size:20px;}
#moving-details .row:nth-child(1) span {float:left; width:140px;}
#moving-details .row:nth-child(1) section {float:right; width:calc(100% - 141px);}
#moving-details .row:nth-child(2) span {float:left; width:115px;}
#moving-details .row:nth-child(2) section {float:right; width:calc(100% - 116px);}
#moving-details .row:nth-child(3) span {float:left; width:136px;}
#moving-details .row:nth-child(3) section {float:right; width:calc(100% - 137px);}
#moving-details .row:nth-child(4) span {float:left; width:131px;}
#moving-details .row:nth-child(4) section {float:right; width:calc(100% - 132px);}

#moving-details .row input.zip-field {float:left; width:98px; height:38px; background:#E6E6E6; border:0; padding:5px 7px; text-align:center; font-family:'CircularStd-Medium'; font-size:20px; color:#065466;}
#moving-details .row input.zip-field::-webkit-input-placeholder {font-family:'CircularStd-Book'; font-size:16px; color:#939393;}
#moving-details .row input.zip-field::-moz-placeholder {font-family:'CircularStd-Book'; font-size:16px; color:#363636;}
#moving-details .row input.error-input{border: 2px solid red;}

#moving-details .row section span.zip-container {float:left; width:70%; padding:4px 0; position:relative;}
#moving-details .row section span.zip-container a.zip-help-btn {float:left; margin:5px 0 0 10px; background:url(../img/location-pin.png) no-repeat; background-position:0 5px; padding:5px 0 0 18px; text-decoration:none; font-family:'CircularStd-Medium'; font-size: 16px; color: #145565; letter-spacing: 0;}

#moving-details .moving-section {padding:9px 0 23px;}
#moving-details .moving-section h3 {font-family:'CircularStd-Book'; font-size: 16px; color: #065466; line-height: 16px; padding-bottom:5px;}
#moving-details .moving-section span {float:left; font-family:'CircularStd-Book'; font-size: 18px; color: #065466; line-height: 16px;}
#moving-details .moving-section span img {display:inline; vertical-align:top; margin-top:1px;}
#moving-details .moving-section a {float:right; font-family:'CircularStd-Medium'; font-size: 14px; color: #F37037; text-decoration:underline;}

#moving-from-place,
#moving-to-place,
#moving-date,
#moving-size {display:block;}

#moving-from-place-edit,
#moving-to-place-edit,
#moving-date-edit,
#moving-size-edit,
#from-zip-help,
#to-zip-help {display:none;}

.sticky-zip-help-container {width:200px; position:absolute; left:83px; top:50px; z-index:9998; background:#fff; padding:10px 15px; border-radius:5px; -webkit-border-radius:5px; box-shadow: -5px -5px 15px 5px rgba(0, 0, 0, 0.15); -webkit-box-shadow: -5px -5px 15px 5px rgba(0, 0, 0, 0.15);}
.sticky-zip-help-container::before {content:" ";position:absolute; left:17px; top:-13px; width: 0; height: 0; border-style: solid; border-width: 0 11px 13px 11px; border-color: transparent transparent #fff transparent;}
.sticky-zip-help-container span {float:left; width:100% !important; padding:0 !important; font-family:'CircularStd-Medium'; font-size: 16px !important; color: #145565;}
.sticky-zip-help-container .search-result {float:left; width:100%; background:#e6e6e6; margin-top:5px; padding:5px 15px;}
.sticky-zip-help-container .search-result input {width:100%; background:#E6E6E6; border-radius:0; -webkit-border-radius:0; height:auto; font-size:18px!important; padding:2px; margin:0 !important; border:0; font-family: 'CircularStd-Book'; font-size: 16px; color: #065466; letter-spacing: 0; line-height: 16px;}
.sticky-zip-help-container .search-result input::-webkit-input-placeholder {color: #B0B0B0;font-size:18px!important;}
.sticky-zip-help-container .search-result input::-moz-placeholder {color: #B0B0B0;font-size:18px!important;}
.sticky-zip-help-container .search-result input:-ms-input-placeholder {color: #B0B0B0;font-size:18px!important;}
.sticky-zip-help-container .search-result .zip-helper-result {float:left; width:100%; height:170px; overflow:auto; border-top:1px solid #8E8E8E; padding-top:5px;}
.sticky-zip-help-container .search-result .zip-helper-result ul li {list-style:none;}
.sticky-zip-help-container .search-result .zip-helper-result ul li a {font-family: 'CircularStd-Book'; font-size:16px; color:#8E8E8E; text-decoration:none;}
.sticky-zip-help-container .search-result .zip-helper-result ul li a:hover {color:#065466;}
.sticky-zip-help-container .search-result .zip-helper-result ul li.active a {font-family: 'CircularStd-Book'; color:#065466;}
.screen-touch {position:fixed; width:100%; height:100%; z-index:9990; display:none;}

.sticky-zip-help-container .search-result .zip-helper-result::-webkit-scrollbar-track {background: rgba(255,255,255,0.20);}
.sticky-zip-help-container .search-result .zip-helper-result::-webkit-scrollbar {width:8px;}
.sticky-zip-help-container .search-result .zip-helper-result::-webkit-scrollbar-thumb {background-color:#D8D8D8; border-radius:25px;-webkit-border-radius:25px;}

#moving-date-edit span,
#moving-size-edit span {padding:0 !important;}
#moving-date-edit .datepicker-container {padding:4px 0 !important;}

#move_date {float:left; width:213px; height:38px; border:0; padding:5px 15px; text-align:left; font-family:'CircularStd-Medium'; font-size: 20px; color: #065466; letter-spacing: 0; line-height: 16px; background: url(../img/calendar-icon.png) no-repeat #E6E6E6; background-position:92% 10px;}
#move_date::-webkit-input-placeholder {font-family: 'CircularStd-Book'; font-size:16px; color:#939393;}
#move_date::-moz-placeholder {font-family: 'CircularStd-Book'; font-size:16px; color:#363636;}

/*.ui-widget-header{background:#1e88e5;}
.ui-datepicker {width:265px;}
.ui-datepicker .ui-datepicker-title {color:#FFF;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {border:2px solid #1e88e5; background:#fff !important;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background:#f5f5f5 !important;} */

.ui-datepicker {width:311px; font-family: 'Lato', sans-serif; font-weight:400; font-size:13px; border:0 !important; border-radius:0; -webkit-border-radius:0; box-shadow: 0 0 5px 2px rgba(0,0,0,0.10);
	-webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.10); padding:5px 15px 15px 20px; margin-top:15px; margin-left:-86px;}
.ui-datepicker:before {content:" ";position:absolute; right:17px; top:-14px; width: 24px; height: 14px; background:url(../img/datepicker-top-arrow.png) no-repeat;}
.ui-datepicker td {padding:0; text-align:center; border: 1px solid #BFBFBF;}
.ui-datepicker th {padding:12px 4px 5px;}
.ui-datepicker th span {font-family:'CircularStd-Book'; font-size: 15px; color: #065466; letter-spacing: -0.36px; font-weight:normal;}
.ui-widget-header {background:#fff; border:0; font-weight:normal !important;}
.ui-datepicker .ui-datepicker-title {font-family:'CircularStd-Medium'; font-size: 18px; color: #065466; letter-spacing: 0;}

.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {width:100%; background:#fff !important; text-align:center; padding:15px 10px; border:0; font-family:'CircularStd-Bold'; font-size: 16px; color:#065466; letter-spacing: -0.38px;}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {color:#fff; background:#065466 !important; text-align:center; color: #FFFFFF;}

.ui-state-hover {font-weight:normal !important;}
.ui-widget-header a {color:rgba(54, 54, 54, 0.46);}
.ui-widget-header a:hover {color:#0A446D;}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {top:7px; cursor:pointer;}
.ui-datepicker .ui-datepicker-prev {background:url(../img/datepicker-prew.png) no-repeat center;}
.ui-datepicker .ui-datepicker-next {background:url(../img/datepicker-next.png) no-repeat center;}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {border:0 !important;}

#ui-datepicker-div .ui-state-active,
#ui-datepicker-div .ui-widget-content .ui-state-active {background:#46DEB0 !important; color:#FFFFFF !important;}

#moving-size-edit span {float:left; width:70% !important; overflow:hidden;}
#moving-size-edit span select {width:275px; height:38px; border:0; font-family:'CircularStd-Medium'; font-size: 20px; color: #065466; padding:3px 10px; background:url(../img/arrow-1.png) #E6E6E6 no-repeat; background-position:87% 15px; margin-top:3px;}
#moving-size-edit span select option {background:#fff !important;}

#terms {float:left; width:calc(100% - 100px); margin:33px 50px 24px; text-align:center; font-family:'CircularStd-Book'; font-size: 12px; color: #E7E7E7; letter-spacing: -0.07px; line-height: 20px;}

.learn-more {background:#F8F8F8; font-family:'CircularStd-Book'; font-size: 16px; color: #0FBBEF; letter-spacing: -0.04px; padding:15px 20px 18px; margin:14px 0;}
.learn-more img {display:inline; vertical-align:top; margin-top:-1px;}



/*@media screen and (max-width: 880px)*/
/*{*/
	/*.move-note {width:90%; margin:50px 5% 0;}*/
	/*.name-number-container {width:90%; margin:30px 5%;}*/
	/*.name-number-container h1 {font-size:6vw;}*/
	/*.name-number-container input.name-number-field {width:25%; font-size:6vw;}*/
	/*.name-number-container #number-container input.name-number-field {width:40% !important; font-size:6vw;}*/
	/*.name-number-container input[type="text"]::-moz-placeholder {font-size:30px;}*/
	/*.name-number-container input[type="text"]:-ms-input-placeholder {font-size:30px;}*/
	/*.name-number-container input[type="text"]::-webkit-input-placeholder {font-size:30px;}*/
	/*.name-number-container input[type="tel"]::-moz-placeholder {font-size:40px;}*/
	/*.name-number-container input[type="tel"]:-ms-input-placeholder {font-size:40px;}*/
	/*.name-number-container input[type="tel"]::-webkit-input-placeholder {font-size:40px;}*/
/*}*/

/* for Nexus 10 portrait */
@media only screen and (min-width: 750px) and (-webkit-min-device-pixel-ratio: 2.0) and (-webkit-max-device-pixel-ratio: 2.0){
	.name-number-container {float:left; width:880px; min-height:95px; margin:30px calc((100% - 880px)/2) 0; position:relative; display: block; overflow:hidden; }
	.name-number-container h1 {float:none; text-align:center; font-family:'CircularStd-Bold'; font-size: 56px; color: #065466; letter-spacing: -0.26px; margin-right:10px; padding-top:9px;}
	.block{float: none; position: relative;}
	.name-number-container #name-container,
	.name-number-container #number-container {float:none; width:100%; position:relative; left:0; top:0; margin: 0 auto;}
	.name-number-container #number-container input.name-number-field {width:400px !important; margin: 0 calc((100% - 400px)/2) 0;;}
	.name-number-container button.submit-btn {display:inline-block; padding: 0; margin:10px 0 0 0; line-height: 59px; width:220px; height:59px;  background: #46DEB0; border-radius: 100px; -webkit-border-radius: 100px; font-family:'CircularStd-Bold'; font-size: 18px; color: #FFFFFF; letter-spacing: 1.8px; margin:0; text-indent:0; text-align:center;border: none; margin: 20px calc((100% - 220px)/2) 0;}
}
@media screen and (max-width: 550px)
{
	#moving-details {float:left; width:90%; margin:32px 5% 0;}
	#moving-details .row {height:auto;}
	#moving-details .row:nth-child(1) span,
	#moving-details .row:nth-child(1) section,
	#moving-details .row:nth-child(2) span,
	#moving-details .row:nth-child(2) section,
	#moving-details .row:nth-child(3) span,
	#moving-details .row:nth-child(3) section,
	#moving-details .row:nth-child(4) span,
	#moving-details .row:nth-child(4) section {float:left; width:100%; margin:0;}
	#moving-details .row section span.zip-container {padding:3px 0;}
	#moving-date-edit .datepicker-container {width:70% !important; padding:3px 0 !important;}
	#moving-size-edit {padding-bottom:3px;}
	#moving-size-edit span select {width:108% !important;}
	footer {background:#F8F8F8; padding:18px 0 14px; text-align:center; font-family:'CircularStd-Medium'; font-size: 16px; color: #CDCDCD; letter-spacing: 0.04px; line-height: 25px; position: inherit; bottom: inherit!important;}
	footer span {display:block;}
	footer a {color: #CDCDCD;}
}
@media screen and (min-width: 768px){
	header .logo {padding:16px 0 0 21px;}
	header .top-right span {display:block!important;}
	header .top-right a.call-now {display:none!important;}
	footer {background:#F8F8F8; padding:18px 0 14px; text-align:center; font-family:'CircularStd-Medium'; font-size: 16px; color: #CDCDCD; letter-spacing: 0.04px; line-height: 25px; position: fixed; bottom: 0!important;}
	footer span {display:block;}
	footer a {color: #CDCDCD;}
}
@media screen and (max-width: 768px)
{
	header .logo {padding:16px 0 0 21px;}
	header .top-right span {display:none;}
	header .top-right a.call-now {display:block;}
	.move-note {width: 80%; margin: 50px 10% 0; font-size: 16px;}
	.move-note-new {float:left; margin:85px calc((100% - 250px)/2) 0; background:#f7f7f7; font-family:'CircularStd-Bold'; font-size: 15px; color: #065466; letter-spacing: -0.14px; border-radius:100px; -webkit-border-radius:100px; text-align:center; padding:15px; width:250px}
	.block{float: none; margin: 5px auto 0 auto; position: relative;}
	.error{color: red; display: block; position: absolute; margin: 0 auto; text-align: center; width: 100%;}
	.name-number-container #name-container,
	.name-number-container #number-container {float:none; width:100%; position:relative; left:0; top:0;}
	.name-number-container {width:100%; margin:25px 0;}
	.name-number-container h1 {float:none; width:100%; text-align:center; font-family:'CircularStd-Bold'; font-size: 22px; color: #065466; letter-spacing: -0.26px; display: block; margin-bottom: 10px;}
	.name-number-container h1.digit-code {float:none; width:100%; text-align:center; font-family:'CircularStd-Bold'; font-size: 32px; color: #065466; letter-spacing: -0.26px; display: block; margin-bottom: 10px;}
	.name-number-container h1.for-thankU {float:left; text-align:center; font-family:'CircularStd-Bold'; font-size: 36px; color: #065466; letter-spacing: -0.26px; margin-right:10px; padding:9px 25px 0 25px;}
	.name-number-container h1.for-thankU #quoteRange{color: #46DEB0;display: block;}
	.name-number-container .sub-title{font-size: 20px;letter-spacing: -.15px;font-style: italic;margin: 0;padding: 0 25px; display: block; text-align: center;}
	.name-number-container input.name-number-field {width:213px !important; margin:5px calc((100% - 213px)/2) 0; border-bottom:4px solid #065466; padding:10px 10px 5px; font-family:'CircularStd-Bold'; font-size: 22px; color: #065466;}
	.name-number-container input.digit-code {width:120px; border-bottom: 4px solid rgba(70,222,175,0.15); padding:10px 10px 0; font-family:'CircularStd-Bold'; font-size: 55px; color: #46DEB0; letter-spacing: -1.01px; margin: 0 auto; display: block;}
	.name-number-container input[type="text"]::-moz-placeholder {font-size:22px;}
	.name-number-container input[type="text"]:-ms-input-placeholder {font-size:22px;}
	.name-number-container input[type="text"]::-webkit-input-placeholder {font-size:22px;}
	.name-number-container input[type="tel"]::-moz-placeholder {font-size:30px;}
	.name-number-container input[type="tel"]:-ms-input-placeholder {font-size:30px;}
	.name-number-container input[type="tel"]::-webkit-input-placeholder {font-size:30px;}
	input[type="text"]::-moz-placeholder {font-size:20px;}
	input[type="text"]:-ms-input-placeholder {font-size:20px;}
	input[type="text"]::-webkit-input-placeholder {font-size:20px;}

	.name-number-container button.submit-btn {float:none; display:block; padding: 0; margin: 0; line-height: 59px; width:260px; height:59px;  background: #46DEB0; border-radius: 100px; -webkit-border-radius: 100px; font-family:'CircularStd-Bold'; font-size: 18px; color: #FFFFFF; letter-spacing: 1.8px; margin:25px calc((100% - 260px)/2) 0; text-indent:0; text-align:center;border: none;}
	.name-number-container #number-container h1 {padding-left:0 !important; margin-bottom: 10px;}
	.name-number-container #number-container input.name-number-field {width: 313px !important; margin:5px calc((100% - 313px)/2) 0;}
	.name-number-container #number-container .error{top:-10px;}
	.ui-datepicker {margin-left:0;}
	.name-number-container-new{min-height: 257px;}
	.name-number-container .btn-block{display: block; margin: 0 auto;width: 384px;}
	.name-number-container .btn-block .btn-container{display: inline-block;}
	.name-number-container .btn-block .btn-container button.submit-buttons {float:none; display:inline; padding: 0;  line-height: 49px; width:190px; height:49px;  background: #46DEB0; border-radius: 100px; -webkit-border-radius: 100px; font-family:'CircularStd-Bold'; font-size: 16px; color: #FFFFFF; letter-spacing: 1.8px; text-indent:0; text-align:center;border: none;cursor: pointer; margin:25px 0;}
	.name-number-container button.submit_btn {float:none; display:block; padding: 0;  line-height: 49px; width:170px; height:49px;  background: #46DEB0; border-radius: 100px; -webkit-border-radius: 100px; font-family:'CircularStd-Bold'; font-size: 14px; color: #FFFFFF; letter-spacing: 1.8px; text-indent:0; text-align:center;border: none;cursor: pointer; margin:45px auto 0 auto;}
	.name-number-container #number-container .error_mobile{top:-30px;}
	footer {background:#F8F8F8; padding:18px 0 14px; text-align:center; font-family:'CircularStd-Medium'; font-size: 16px; color: #CDCDCD; letter-spacing: 0.04px; line-height: 25px; position: inherit; bottom: inherit!important;}
	footer span {display:block;}
	footer a {color: #CDCDCD;}
}
@media screen and (max-width:414px)
{
	header .logo {padding:16px 0 0 21px;}
	header .top-right span {display:none;}
	header .top-right a.call-now {display:block;}
	.move-note {width: 80%; margin: 50px 10% 0; font-size: 16px;}
	.move-note-new {float:left; margin:85px calc((100% - 250px)/2) 0; background:#f7f7f7; font-family:'CircularStd-Bold'; font-size: 15px; color: #065466; letter-spacing: -0.14px; border-radius:100px; -webkit-border-radius:100px; text-align:center; padding:15px; width:250px}
	.block{float: none; margin: 5px auto 0 auto; position: relative;}
	.error{color: red; display: block; position: absolute; margin: 0 auto; text-align: center; width: 100%;}
	.name-number-container #name-container,
	.name-number-container #number-container {float:none; width:100%; position:relative; left:0; top:0;}
	.name-number-container {width:100%; margin:25px 0;}
	.name-number-container h1 {float:none; width:100%; text-align:center; font-family:'CircularStd-Bold'; font-size: 22px; color: #065466; letter-spacing: -0.26px; display: block; margin-bottom: 10px;}
	.name-number-container h1.digit-code {float:none; width:100%; text-align:center; font-family:'CircularStd-Bold'; font-size: 32px; color: #065466; letter-spacing: -0.26px; display: block; margin-bottom: 10px;}
	.name-number-container h1.for-thankU {float:left; text-align:center; font-family:'CircularStd-Bold'; font-size: 36px; color: #065466; letter-spacing: -0.26px; margin-right:10px; padding:9px 25px 0 25px;}
	.name-number-container h1.for-thankU #quoteRange{color: #46DEB0;display: block;}
	.name-number-container .sub-title{font-size: 20px;letter-spacing: -.15px;font-style: italic;margin: 0;padding: 0 25px; display: block; text-align: center;}
	.name-number-container input.name-number-field {width:213px !important; margin:5px calc((100% - 213px)/2) 0; border-bottom:4px solid #065466; padding:10px 10px 5px; font-family:'CircularStd-Bold'; font-size: 22px; color: #065466;}
	.name-number-container input.digit-code {width:120px; border-bottom: 4px solid rgba(70,222,175,0.15); padding:10px 10px 0; font-family:'CircularStd-Bold'; font-size: 55px; color: #46DEB0; letter-spacing: -1.01px; margin: 0 auto; display: block;}
	.name-number-container input[type="text"]::-moz-placeholder {font-size:22px;}
	.name-number-container input[type="text"]:-ms-input-placeholder {font-size:22px;}
	.name-number-container input[type="text"]::-webkit-input-placeholder {font-size:22px;}
	.name-number-container input[type="tel"]::-moz-placeholder {font-size:30px;}
	.name-number-container input[type="tel"]:-ms-input-placeholder {font-size:30px;}
	.name-number-container input[type="tel"]::-webkit-input-placeholder {font-size:30px;}
	input[type="text"]::-moz-placeholder {font-size:20px;}
	input[type="text"]:-ms-input-placeholder {font-size:20px;}
	input[type="text"]::-webkit-input-placeholder {font-size:20px;}

	.name-number-container button.submit-btn {float:none; display:block; padding: 0; margin: 0; line-height: 59px; width:260px; height:59px;  background: #46DEB0; border-radius: 100px; -webkit-border-radius: 100px; font-family:'CircularStd-Bold'; font-size: 18px; color: #FFFFFF; letter-spacing: 1.8px; margin:25px calc((100% - 260px)/2) 0; text-indent:0; text-align:center;border: none;}
	.name-number-container #number-container h1 {padding-left:0 !important; margin-bottom: 10px;}
	.name-number-container #number-container input.name-number-field {width: 213px !important; margin:5px calc((100% - 213px)/2) 0;}
	.name-number-container #number-container .error{top:-10px;}
	.ui-datepicker {margin-left:0;}
	.name-number-container-new{min-height: 257px;}
	.name-number-container .btn-block{display: block; margin: 0 auto;width: 384px;}
	.name-number-container .btn-block .btn-container{display: inline-block;}
	.name-number-container .btn-block .btn-container button.submit-buttons {float:none; display:inline; padding: 0;  line-height: 49px; width:190px; height:49px;  background: #46DEB0; border-radius: 100px; -webkit-border-radius: 100px; font-family:'CircularStd-Bold'; font-size: 16px; color: #FFFFFF; letter-spacing: 1.8px; text-indent:0; text-align:center;border: none;cursor: pointer; margin:25px 0;}
	.name-number-container button.submit_btn {float:none; display:block; padding: 0;  line-height: 49px; width:170px; height:49px;  background: #46DEB0; border-radius: 100px; -webkit-border-radius: 100px; font-family:'CircularStd-Bold'; font-size: 14px; color: #FFFFFF; letter-spacing: 1.8px; text-indent:0; text-align:center;border: none;cursor: pointer; margin:45px auto 0 auto;}
	.name-number-container #number-container .error_mobile{top:-30px;}
	footer {background:#F8F8F8; padding:18px 0 14px; text-align:center; font-family:'CircularStd-Medium'; font-size: 16px; color: #CDCDCD; letter-spacing: 0.04px; line-height: 25px; position: inherit; bottom: inherit!important;}
	footer span {display:block;}
	footer a {color: #CDCDCD;}
}

@media screen and (max-width: 375px)
{
	#moving-details .row section span.place {width:81%; font-size:18px;}
	#moving-details .row section span.zip-container {width:67%;}
	#moving-details .row section span.datepicker-container {width:60% !important;}
	#move_date {width:180px;}
	#moving-size-edit span.move-size-container {width:180px !important;}
	#moving-size-edit span select.move-size {width:112% !important; background-position:81% 15px !important;}
	.name-number-container-new{min-height: 308px;}
	.name-number-container .btn-block{display: block; margin: 0 auto;width: 170px;}
	.name-number-container .btn-block .btn-container{float: none; margin: 0 auto;}
	.name-number-container .btn-block .btn-container button.submit-buttons {float:none; display:block; padding: 0;  line-height: 49px; width:170px; height:49px;  background: #46DEB0; border-radius: 100px; -webkit-border-radius: 100px; font-family:'CircularStd-Bold'; font-size: 14px; color: #FFFFFF; letter-spacing: 1.8px; text-indent:0; text-align:center;border: none;cursor: pointer; margin:10px 0 10px 0;}
	footer {background:#F8F8F8; padding:18px 0 14px; text-align:center; font-family:'CircularStd-Medium'; font-size: 16px; color: #CDCDCD; letter-spacing: 0.04px; line-height: 25px; position: inherit; bottom: inherit!important;}
	footer span {display:block;}
	footer a {color: #CDCDCD;}

}
@media screen and (max-width: 360px)
{
	header .logo {width:160px;}
	header .logo img {width:100%; height:auto;}
	#moving-details .row section span.zip-container {width:60%;}
	.sticky-zip-help-container {left:0; top:88px;}
	#moving-details .row section span.datepicker-container {width:50% !important;}
	#move_date {width:140px;}
	#moving-size-edit span.move-size-container {width:140px !important;}
	#moving-size-edit span select.move-size {width:112% !important; background-position:81% 15px !important;}
	footer {background:#F8F8F8; padding:18px 0 14px; text-align:center; font-family:'CircularStd-Medium'; font-size: 16px; color: #CDCDCD; letter-spacing: 0.04px; line-height: 25px; position: inherit; bottom: inherit!important;}
	footer span {display:block;}
	footer a {color: #CDCDCD;}
}
@media (min-width:1281px){
	.name-number-container button.submit-btn {display:inline-block; padding: 0; margin:10px 0 0 0!important; line-height: 59px; width:220px; height:59px;  background: #46DEB0; border-radius: 100px; -webkit-border-radius: 100px; font-family:'CircularStd-Bold'; font-size: 18px; color: #FFFFFF; letter-spacing: 1.8px; margin:0; text-indent:0; text-align:center;border: none;}
	.loading {float:none; text-align:center; font-family:'CircularStd-Bold'; font-size: 56px; color: #46DEB0; letter-spacing: -0.26px; margin-right:10px; padding-top:9px;}
	footer {background:#F8F8F8; padding:18px 0 14px; text-align:center; font-family:'CircularStd-Medium'; font-size: 16px; color: #CDCDCD; letter-spacing: 0.04px; line-height: 25px; position: fixed; bottom: 0;}
	footer span {display:block;}
	footer a {color: #CDCDCD;}
}
/* Landscape */
@media screen and (max-width: 768px) and (orientation: landscape) {
	.name-number-container-new{min-height: 277px}
}

/*===================================*/
#quote-loading {
    text-align: center;
}
#quote-loading .text-loader{
   color: #46DEB0;
}
input.digit-code.error-line{border-bottom: 4px solid red; }
/*===================================*/
@media screen and (max-width: 320px){
	.name-number-container h1.for-thankU {float:none; text-align:center; font-family:'CircularStd-Bold'; font-size: 25px!important; color: #065466; letter-spacing: -0.26px; margin-right:10px; padding-top:9px;}
	.name-number-container h1.for-thankU #quoteRange{color: #46DEB0;}
	.name-number-container .sub-title{font-size: 15px!important;letter-spacing: -.15px;font-style: italic;margin: 0;padding: 0 25px; display: block; text-align: center;}
	.name-number-container button.submit-btn {float:none; display:block; padding: 0; margin: 0; line-height: 49px; width:230px; height:49px;  background: #46DEB0; border-radius: 100px; -webkit-border-radius: 100px; font-family:'CircularStd-Bold'; font-size: 18px; color: #FFFFFF; letter-spacing: 1.8px; margin:25px calc((100% - 230px)/2) 0; text-indent:0; text-align:center;border: none;}
	footer {background:#F8F8F8; padding:18px 0 14px; text-align:center; font-family:'CircularStd-Medium'; font-size: 16px; color: #CDCDCD; letter-spacing: 0.04px; line-height: 25px; position: inherit; bottom: inherit!important;}
	footer span {display:block;}
	footer a {color: #CDCDCD;}
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
	footer {background:#F8F8F8; padding:18px 0 14px; text-align:center; font-family:'CircularStd-Medium'; font-size: 16px; color: #CDCDCD; letter-spacing: 0.04px; line-height: 25px; position: fixed; bottom: 0!important;}
	footer span {display:block;}
	footer a {color: #CDCDCD;}
}