/*
	This code section will make boostrap non-respsonive
*/

/*
	custom bootstrap code added by me
*/

.col-xs-offset-1 {
    margin-left: 8.3334%;
}
.col-xs-offset-2 {
    margin-left: 16.6667%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-4 {
    margin-left: 33.3333%;
}
/*
	end custom added by me
*/

/*
    code by Ariful
*/
/*
    BOOTSTRAP ADDITIONAL HELPER CLASS BY ARIF
*/
.no-padding{padding-left: 0px; padding-right: 0px;}
/*
    moving2 css
*/

/*
    fonts
*/
@font-face {font-family: 'Proxima Nova';font-weight: 300;font-style: normal;
            src: url("../font/ProximaNova-Light.otf") format('opentype');  
			src: url('../font/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),url('../font/ProximaNova-Light.woff') format('woff'),url('../font/ProximaNova-Light.svg'),url('../font/ProximaNova-Light.ttf') format('truetype'); }
@font-face {font-family: 'Proxima Nova';font-weight: 300;font-style: italic;
            src: url("../font/ProximaNova-LightItalic.otf") format('opentype');}

@font-face {font-family: 'Proxima Nova';font-weight: normal;font-style: normal;
            src: url("../font/ProximaNova-Regular.otf") format('opentype');}
@font-face {font-family: 'Proxima Nova';font-weight: normal;font-style: italic;
            src: url("../font/ProximaNova-RegularItalic.otf") format('opentype');}

@font-face {font-family: 'Proxima Nova';font-weight: 500;font-style: normal;
            src: url("../font/ProximaNova-Semibold.otf") format('opentype');}
@font-face {font-family: 'Proxima Nova';font-weight: 500;font-style: italic;
            src: url("../font/ProximaNova-SemiboldItalic.otf") format('opentype');}

@font-face {font-family: 'Proxima Nova';font-weight: bold;font-style: normal;
            src: url("../font/ProximaNova-Bold.otf") format('opentype');}
@font-face {font-family: 'Proxima Nova';font-weight: bold;font-style: italic;
            src: url("../font/ProximaNova-BoldIt.otf") format('opentype');}

.container {
	width:987px !important;
	max-width:987px !important;
}

body.moving2{
    background: #fcfcfc url('../img/moving2/site_bg.jpg') repeat-x;
    font-family: 'Proxima Nova',sans-serif;
}
.icon_fb{display: block;background-image: url('../img/moving2/moving2.png');
        width: 30px;height: 29px; background-position: -490px 0px;background-repeat: no-repeat;}
.icon_fb:hover{background-position: -490px -29px;}
.icon_pin{display: block;background-image: url('../img/moving2/moving2.png');
        width: 29px;height: 29px; background-position: -519px 0px;background-repeat: no-repeat;}
.icon_pin:hover{background-position:-519px -29px;}
.icon_twitter{display: block;background-image: url('../img/moving2/moving2.png');
        width: 30px;height: 29px; background-position: -579px 0px;background-repeat: no-repeat;}
.icon_twitter:hover{background-position: -579px -29px;}
.icon_gplus{display: block;background-image: url('../img/moving2/moving2.png');
        width: 29px;height: 29px; background-position: -548px 0px;background-repeat: no-repeat;}
.icon_gplus:hover{background-position:-548px -29px;}
.icon_rss{display: block;background-image: url('../img/moving2/moving2.png');
        width: 30px;height: 29px; background-position: -609px 1px;background-repeat: no-repeat;}
.icon_rss:hover{background-position: -609px -29px;}

/*
    BUTTONS
*/

/* This button was generated using CSSButtonGenerator.com */

.started{border: none;outline: none;	
         display: inline-block;background-image: url('../img/moving2/moving2.png');border: none;outline: none;
        width: 120px;height: 39px; background-position: -194px -696px;background-repeat: no-repeat;    
        color: white;text-decoration: none;text-align: center;padding-top: 10px;margin-left: 20px;
        border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;
        font-weight: bold;text-transform: uppercase;font-size: 16px; border:none !important;
}
.started:hover{
    text-decoration: none;color: white;
}
.get_started {    
    display: block;background-image: url('../img/moving2/moving2.png');border: none;outline: none;
        width: 190px;height: 50px; background-position: -1px -695px;background-repeat: no-repeat;    
        color: white;text-decoration: none;margin: 10px auto 0 auto;text-align: center;padding-top: 5px;
        border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;
        font-weight: normal;text-transform: uppercase;font-size: 16px;
}
.display_prices{    
    display: block;background-image: url('../img/moving2/moving2.png');border: none;outline: none;
        width: 250px;height: 40px; background-position: -1px -748px;background-repeat: no-repeat;    
        color: white;text-decoration: none;margin: 0 auto;text-align: center;padding-top: 5px;
        border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;
        font-weight: normal;text-transform: uppercase;font-size: 16px;
}
/*
    HEADER
*/
header{ background-color: #17b0e5; margin: 0;}
header .logo{
	height:43px !important;
	margin:10px !important;
}


/*  Slider */
.slider_area{padding: 0px 0 0px 0;}
body.moving2 .map-bg{background-image: url('../img/moving2/moving2.png');background-repeat: no-repeat;
width: 695px;height: 422px;display: block;background-position: -540px -553px;
position: absolute;top: 30px;}

.step_position, .progress_status{
	text-align:center;
}
.step_position .moving_steps{margin: 0px;padding: 10px;}
.step_position .moving_steps li a{color: white;font-weight: 300;font-size: 16px;}
.step_position .moving_steps li a:hover{text-decoration: none;}
.step_position .moving_steps li { display: inline-block; list-style-type: none; margin :0 0px 0 0px;}
.step_position .moving_steps li.s2{margin :0 0px 0 135px;}
.step_position .moving_steps li.s3{margin :0 18px 0 140px;}
.step_position .moving_steps li.disabled a{color: #127faf;}

.title{color: white; text-align: center; padding:10px 0;}
.title h2{text-transform: uppercase;font-family: 'Proxima Nova',sans-serif; font-weight: 500;font-size: 35px;text-align: center;width: 100%;color: white; margin: 0 0 5px 0;}

.title p{text-align: center;font-family: 'Proxima Nova',sans-serif;font-size: 16px;color: white;font-weight: 300; margin: 0 0 5px 0; }

.progress_status .zip{background-image: url('../img/moving2/moving2.png'); background-position: 0px -552px;height: 46px;width: 548px; display:inline-block;}
	
.step1_form{ margin:0 4%; height:200px;background-color: #124658; border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px; color: white;text-align: center;}
body.moving2 .step1_form p.heading{padding: 20px 0 5px 0;font-family: 'Proxima Nova',sans-serif;font-size: 20px; color: #f1f1f1;font-weight: 300;}

.step1_form .arrow{background-position: -520px -61px;width: 35px;height: 32px;float: left;
background-image: url('../img/moving2/moving2.png');background-repeat: no-repeat;margin: -1px 0 0 12px;}
.step1_form .form-control{height:50px;}
.step1_form .input-group{ padding:0px 40px 6px 40px; }
.step1_form .input-group-addon{ background:#fff; padding: 3px 6px; }

.step1  #privacy_menu{margin:23px 0;}
.step1 .happy_people{top: -51px; position: absolute; right: -283px; width: 287px;}

/* step 2*/
.progress_status .mover{background-image: url('../img/moving2/moving2.png'); display:inline-block; background-position: 0 -599px;height: 42px;width: 530px;}
.form-horizontal .control-label { text-align: left; color:#fff;}

.step2_form{margin: 0px 15px;}
.step2_form label{ color: white;text-transform: uppercase;font-size: 18px; padding-top: 10px;font-weight: 500;}
.step2_form .input-group-addon{
	background:#fff;
	 padding: 3px 6px; 
}
.calandar{background-image: url('../img/moving2/moving2.png'); background-position: -38px -416px;height: 24px;width: 24px;float: left; right: 5px;top: 8px;}
.step2  #privacy_menu{margin:0px 0;}
.icon-custom-verison {  background-position:-56px -1260px; display: inline-block; height: 48px; margin: 0 22px; width: 108px;  }

#privacy_menu ul{ display: inline-block;}
#privacy_menu li{float: left; list-style-type: none;font-size: 0.9em;}
#privacy_menu li:after{content: "I";margin: 0 8px;color: white;}
#privacy_menu li:last-child:after{content: "";margin: 0px;}
#privacy_menu li a{color: white;text-decoration: none;}

/* step 3*/
.progress_status .quote{background-image: url('../img/moving2/moving2.png'); display:inline-block; background-position: 0 -639px;height: 42px;width: 530px;}
.form_quote{ padding:15px 0 20px 0;}
.step3  #privacy_menu{margin:0px 0; text-align:center;}
.agreement { height: 25px;   margin:-7px 0 7px 0;}
.step3 #slide_partner{padding: 0 0 20px;}
.agreement.left label.error{ margin:-10px 0 0 4px !important;}

/* HIDE STEP2  & STEP3 BY DEFAULT*/
.step2,
.step3,
.step_loading{display: none;}
.step_loading img{width: 90%;}

.text-center{
	text-align:center;
}
.text-right{
	text-align:right;
}

#map-canvas {height: 250px;width:294px;margin: 0px;padding: 0px;border: 5px solid #f1f1f1;}


#slide_partner {
    padding: 20px 0;
	height:150px;
	color:#fff;
	text-align:center !important;
}
.glyphicon-calendar{
	font-size:20px;
	color:#ff0000;
}
#slide_partner .features .col-xs-2{
	width: 20% !important;
}
#slide_partner h6{
	color:#fff;
	font-size:14px !important;
	line-height:20px;
	font-family: 'Proxima Nova',sans-serif;
	font-weight: normal !important;
	margin:3px 0;
}
#slide_partner ul{
	margin:0px;
	padding:11px 0;
}
#slide_partner ul li{
	margin:0px;
	list-style:none;
	padding:0px;
	display:inline-block;
}
#slide_partner span{
	color:#7fcc19;
}
.form-group.no-margin  {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.agreement{
	color:#fff;
}
.form-group.margin {
    margin-left: -15px !important;
    margin-right: -3px !important;
}
.col-xs-6 #last_name {
    width: 106%!important;
}

[class^="icon-custom-"],
[class*=" icon-custom-"] {
  background-image: url('/assets/img/moving2/moving2.png');
}
.icon-custom-allied { background-position: -35px -1031px; display: inline-block; height: 55px; margin: 0px; width:190px; }
.icon-custom-na { background-position: -227px -1031px; display: inline-block; height: 55px; margin: 0px; width: 180px; }
.icon-custom-arpin { background-position:-404px -1031px; display: inline-block; height: 55px; margin: 0px; width: 220px; }
.icon-custom-stevens { background-position: -635px -1031px; display: inline-block; height: 55px; margin: 0px; width: 150px; }
.icon-custom-moving { background-position: -788px -1031px; display: inline-block; height: 55px; margin: 0px; width: 150px; }

.icon-custom-move-easy {  background-position:-45px -1156px; display: inline-block; height: 40px; margin: 0 15px; width: 50px;  }
.icon-custom-save-money {  background-position:-195px -1156px; display: inline-block; height: 40px; margin: 0 15px; width: 50px;  }
.icon-custom-license {  background-position:-342px -1158px; display: inline-block; height: 40px; margin: 0 15px; width: 50px;  }
.icon-custom-price-range {  background-position:-500px -1159px; display: inline-block; height: 40px; margin: 0 15px; width: 50px;  }
.icon-custom-free-quote {  background-position:-647px -1160px; display: inline-block; height: 40px; margin: 0 15px; width: 50px;  }


/*
    WELCOME
*/
#welcome{padding: 0;font-family: 'Proxima Nova',sans-serif;font-size: 13px;color: #333333;background-color: white;}
#welcome .welcome_couple{width: 350px; height: 357px; padding:60px 0 0 0; }
#welcome h2{font-size: 24px;font-weight: 500;color: #29a1ca;}
#welcome p{font-weight: 300;line-height: 2em;letter-spacing: 0.02em;font-size: 14px;}
#welcome ul.features{letter-spacing: 0.02em;margin: 30px 0 0 0;padding: 0px 0px 0 00px;;}
#welcome ul.features li:before{background-image: url('../img/moving2/moving2.png');background-repeat: no-repeat;
background-position: -490px -62px;width: 20px;height: 17px;display: inline-block;float: left;content: "";margin-right: 10px;}
#welcome ul.features li{list-style-type: none;padding-right: 30px;font-weight: 300;}
#welcome ul.features li p{padding-left: 30px;line-height: 1.5em;}


/*  HOW IT WORKS  */

#how_it_works{background-image: url('../img/moving2/how_bg.png');position: relative;
background-repeat: repeat;padding: 20px 0;border-bottom: 1px solid #d2f0fa; min-width:1200px;}
#how_it_works .shadow{background-image: url('../img/moving2/moving2.png');background-repeat: no-repeat;
background-position: 0 -548px;width: 980px;height: 7px; margin: 0 auto;position: absolute;top: -19px;}
#how_it_works h2{margin: 0 0 30px 0;color: #145268;font-size: 24px;font-weight: 300; text-align:center;}
#how_it_works .location{background-image: url('../img/moving2/moving2.png');background-repeat: no-repeat;
background-position: 0 -453px;width: 226px;height: 92px; margin: 0 auto;}
#how_it_works .search{background-image: url('../img/moving2/moving2.png');background-repeat: no-repeat;
background-position: -240px -453px;width: 81px;height: 87px; margin: 0 auto;}
#how_it_works .mover{background-image: url('../img/moving2/moving2.png');background-repeat: no-repeat;
background-position: -322px -453px;width: 175px;height: 90px; margin: 0 auto;}
#how_it_works p{font-weight: 300;font-size: 14px;}

/*    TESTIMONIAL  */

#testimonial{padding: 20px 0;}
#testimonial ul{margin: 0px;padding: 0px;position: relative;}
#testimonial ul li{list-style-type: none;margin-bottom: 5px;}
#testimonial ul li p.quote{font-style: italic;color: #333333;line-height: 2em;font-size: 13.5px;margin-bottom: 0px;font-weight: 300;}
#testimonial ul li p.quote_by{text-align: right;font-weight: 500;font-style: italic;font-size: 13px;margin: 15px 0 10px 0!important;}
#testimonial ul li p.border-line,
#testimonial ul li p.quote_by{margin: 0px;}
#testimonial ul li p.border-line{background-image: url('../img/moving2/moving2.png');
background-repeat: no-repeat;background-position: 0 -410px;width: 464px;height: 5px;margin-top: 5px;}

/*    LATEST BLOG  */

#latest_blog{position: relative;}
#latest_blog h2{color: #1f7c9c;font-size: 24px;padding: 30px 0 10px 70px;margin: 0;font-weight: 300;}
#latest_blog .blog-line{background-image: url('../img/moving2/moving2.png');background-repeat: no-repeat;
background-position: 0 -400px;width: 410px; min-height: 10px;margin: 0 0 0 20px;}
#latest_blog #blog_posts{margin: 0px;padding: 10px 20px; position: relative;}
#latest_blog #blog_posts .post{list-style-type: none;}
#latest_blog #blog_posts .post .blog-line{margin: 0px;}
#latest_blog #blog_posts .post .post_title{color: #1f7c9c;font-weight: 500 !important;margin-bottom: 5px;}
#latest_blog #blog_posts .post .post_meta{color: #999999;font-size: 0.8em;font-style: italic;font-weight: 300;}
#latest_blog #blog_posts .post .post_excerpt{ font-family: 'Proxima Nova',sans-serif !
; color: #333333;font-size: 0.9em;line-height: 2em;font-weight: 300 !important;}

#latest_blog{background-image: url('../img/moving2/moving2.png');background-repeat: no-repeat;
background-position: 0 0;width: 100%; height: 402px; margin:0 0 15px 0;}

/*    FOOTER MOVING NOW  */

.search_moving{background: #17b0e5 url('../img/moving2/housing.png') repeat-x;
padding-top: 20px;height: 160px;background-position: 0 40px;text-align: center !important; min-width:1200px;}
.search_moving h2{margin: 0px 0 10px 0; font-weight: 500; color: white;font-size: 24px;}
.search_moving p{color: white;font-weight: 300;font-size: 14px;}
.search_moving .form-group{
	display: inline-block;
}
.search_moving .form-control{
	width:400px;
	height:40px;
}


/*  FOOTER */
footer{
    background-color: #134659;color: white; padding: 35px 10px; min-width:1200px; 
}
footer .copyright{font-family: "Proxima Nova",sans-serif; color: white;
           font-weight: 300;font-size: 14px;text-decoration: none;}
footer #social_icons{margin: 0px;padding: 0px;float: right;}
footer #social_icons li{list-style-type: none;width: 30px;float: left;}



/*////////top Side Error popup//////////*/


.top label.error{
    background: none repeat scroll 0 0 #1f7998;
    border: 1px solid #1c6c88;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 11px;
    min-width: 120px;
	height:40px;
    padding: 10px;
	text-align:center;
    position: relative;
    width: 81%;
	opacity: 0.87; 
	position: absolute; 
	top: 22px; 
	left: 35px; 
	margin:-80px 0 0 4px;
	font-size:13px !important;
}
.top .error:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	left: -6%;
	border:solid transparent;
}
.top .error:after {
	border-width: 9px;
	border-top-color: #1f7998;
	left:160px;
	top: 100%;
}
.top .error:before {
	border-width: 14px;
	border-top-color: #1f7998;
	top: 100%;
}
            
            
/*/////////////Right Side Error popup/////////////////*/
.right label.error{
    background: none repeat scroll 0 0 #1f7998;
    border: 1px solid #1c6c88;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 11px;
    min-width: 120px;
	height:40px;
    position: relative;
    width: 100%;
	opacity: 0.87; 
	position: absolute; 
	top: 70px; 
	left: 263px; 
	margin:-74px 0 0 4px;
	padding: 9px 15px;
	text-align:center;
	font-size:13px!important;
}
.right .error:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	left: -6%;
	border:solid transparent;
}
.right .error:after {
	border-width: 9px;
	border-right-color: #1f7998;
	top: 11px;
}
.right .error:before {
	border-width: 14px;
	border-right-color: #1f7998;
	top: 10px;
}

/*/////////////left Side Error popup/////////////////*/
.left label.error{
    background: none repeat scroll 0 0 #1f7998;
    border: 1px solid #1c6c88;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 11px;
    min-width: 120px;
	height:40px;
	padding: 9px 15px;
	text-align:center;    
	position: relative;
    width: 75%;
	opacity: 0.87; 
	position: absolute; 
	right: 354px; 
	margin:-40px 0 0 4px;
	font-size:13px!important;
}
.left .error:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	left: 100%;
	border:solid transparent;
}
.left .error:after {
	border-width: 9px;
	border-left-color: #1f7998;
	top: 11px;
}
.left .error:before {
	border-width: 14px;
	border-left-color: #1f7998;
	top: 10px;
}
/* Step 3 extra*/
.top-half label.error{
    background: none repeat scroll 0 0 #1f7998;
    border: 1px solid #1c6c88;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 11px;
    min-width: 120px;
	height:40px;
    position: relative;
    width: 93% !important;
	opacity: 0.87; 
	position: absolute!important;
	top: 20px!important; 
	left: 0px!important;
	margin:-74px 0 0 0px!important;
	padding: 9px 0;
	text-align:center;
	font-size:13px!important;
}
.top-half .error:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	left: -6%;
	border:solid transparent;
}
.top-half .error:after {
	border-width: 9px;
	border-top-color: #1f7998;
	left:70px !important;
	top: 100%;
}
.top-half .error:before {
	border-width: 14px;
	border-top-color: #1f7998;
	top: 100%;
}



.terms{
    color: #C0C0C0;
    font-size: 11px;
    font-weight: 100;
    margin: 0;
    padding: 10px 0 0 0 !important;
}

/* END OF ERROR MESSAGE VALIDATION   
*/ 

#search-step {display:none;} 
.slider_area { height: 626px; } 
#search-animation 
{ 
	margin-top: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -13px;
	left: 20px;
	width: 700px;
	height: 445px;
}
